.shortened{
    width: 50%;
}

.flex-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.flexing{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 50%;
}

.margin-top{
    margin-top: 20px;
}

.proposals{
    display: flex;
    flex-wrap: wrap;
}

.flex-badge{
    display: flex;
    justify-content: space-around;
}

.centered{
    display: flex;
    justify-content: center;
}